.song-container {
  min-height: 60vh;
  @include flexbox(column, center, center);
  font-size: 2rem;
  img {
    border-radius: 50%;
    width: 20%;
  }
  h1 {
    padding: 3rem 1rem 1rem 1rem;
    font-family: "Yusei Magic", sans-serif;
  }
  h2 {
    font-size: 2rem;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.1rem;
  }
}
